/* Google Fonts Extra-light 200 italic */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,200&display=swap');


* {
    margin: 0px;
    background-color: #7aac41;
}

/* Header Title */
.title {
    color: rebeccapurple;
}

.subtitle {
    color: #0483ff;
}