/* Google Fonts Extra-light 200 italic */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,200&display=swap');

/* General Formatting */
* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7aac41;
}

h3 {
    color: darkmagenta;
}

h4 {
    color: black;
}

/* Title and Sub-Title */
header {
    color: white;
    padding: 30px 0 30px 0;
    text-align: center;
}

h1 {
    color: darkmagenta;
}

/* Random Pic Button */
.random {
    text-align: center;
    padding: 30px 30px 30px 30px;
    color: darkmagenta;
    border: 5px solid white;
}

/* Other Section */
.other {
    text-align: center;
    padding: 30px 0 30px 0;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Other: Real */
.real {
    padding: 30px 0 30px 0;
}

.have{
    padding: 30px 0 30px 0;
}

/* Other virtual */
.virtual {
    padding: 30px 0 30px 0;
}

ul {
    list-style: none;
}