/* Google Fonts Extra-light 200 italic */
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,200&display=swap');

/* General Formatting */
* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    display: flex;
    margin: 5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7aac41;
}

/* Title and Sub-Title */
header {
    color: rebeccapurple;
    text-align: center;
}

/* Random Pic Button */
.random {
    
}